<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Weather.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>99F0C7841E26AEF6005745D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>99F0C7981E26AEF7005745D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>99F0C7A31E26AEF7005745D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
